// Mixins in here

.flex-default() {
    display: flex;
    justify-content: space-evenly;
}

.page-break(@navigation-border){
    border-bottom: dashed @navigation-border 2px;
}

.btn-format(@button-bg, @main-bg){
    background-color: @button-bg;
    color: @main-bg;
    width: 200px;
    height: 45px;
    font-size: 2rem;
    margin: 0 10px 20px;
    border-radius: 15px;

}